<mat-selection-list #shoes [multiple]="false">
    <mat-list-option routerLink="/home" routerLinkActive="active" selected>
        <div class="list-item">
            <span>
                <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
            </span>
            <span>Home</span>
        </div>
    </mat-list-option>
    <mat-list-option routerLink="/subscriptions" routerLinkActive="active">
        <div class="list-item">
            <span>
                <mat-icon aria-hidden="false" aria-label="subscriptions icon">subscriptions</mat-icon>
            </span>
            <span>Subscriptions</span>
        </div>
    </mat-list-option>
</mat-selection-list>